@page "/home"
@using Microsoft.AspNetCore.Authorization

@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [Inject]
    public IGraphService GraphService { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var user = await GraphService.GetProfileAsync();
    }
}